@model BeefModel
@{
}
<section style="padding-top: 200px; min-height: 1500px;" class="intro-section" id="intro-section">
    <div class="container">
        <div class="section-title">
            <div class="beef-ladder-header-container">
                <div class="beef-ladder-header-container-squisher">
                    <div class="beef-ladder-header">Settle the Beef</div>
                    <div class="beef-ladder-subheader">Team Ladder</div>
                </div>
            </div>
            <div class="beef-ladder-container">
                @{
                int i = 0;
                int rowCount = 1;
                while (i < @Model.BeefLadderEntries.Length) {

                <div class="beef-row">
                    @{
                        int rowEnd = i + rowCount;
                        @while (i < rowEnd) {
                            if (i < Model.BeefLadderEntries.Length) {
                                <div class="beef-entry">
                                    <div class="beef-entry-name-container">
                                        <div class="beef-entry-rank">
                                            @{
                                                int rank = i + 1;
                                            }
                                            @rank
                                        </div>
                                        <div class="beef-entry-name">
                                            @Model.BeefLadderEntries[i].Name
                                        </div>
                                        <div class="beef-entry-rank">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="beef-entry-mmr-race-container">
                                        <img src="@Model.BeefLadderEntries[i].RaceIconPath" style="margin: 2px; margin-left: -22px; width: 20px; height: 20px;" />
                                        <span class="beef-entry-mmr">
                                            @Model.BeefLadderEntries[i].Mmr
                                        </span>
                                    </div>
                                </div>
                            } else {
                                <div class="beef-entry">
                                    <div class="beef-entry-name-container">
                                        <div class="beef-entry-rank">
                                            @{
                                            int rank = i + 1;
                                            }
                                            @rank
                                        </div>
                                        <div class="beef-entry-name">
                                            &nbsp;
                                        </div>
                                        <div class="beef-entry-rank">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="beef-entry-mmr-race-container">
                                        <span class="beef-entry-mmr">
                                            &nbsp;
                                        </span>
                                    </div>
                                </div>
                            }
                            i++;
                        }
                    }
                </div>

                rowCount += 1;
                }
                }
            </div>
        </div>
    </div>
</section>