@{
}
<section style="padding-top: 200px;" class="intro-section" id="intro-section">
    <div class="container">
        <div class="section-title text-white">
            <h2 style="padding: 0px 0px 25px 0px;">Beef Ladder</h2>
        </div>
    </div>
</section>