@{
    ViewData["Title"] = "Home Page";
}



    <!-- Header section end -->
    <!-- Hero section -->
    <section class="hero-section overflow-hidden">
        <div class="hero-slider owl-carousel">
            <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/img/TeamGosuCloudBackground.png">
                <div class="container">
                    <h2 style="color:#fff; margin-top: -120px;">Team Gosu</h2>
                    <p style="color:#fff;">Professional Starcraft 2 Team and Community</p>
                    <a href="#" class="site-btn">Read More  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
            <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/img/slider-bg-2.jpg">

                <div class="container">
                    <iframe width="700" height="525"
                            src="https://youtube.com/embed/sDE6liH0Pgc"></iframe>
                </div>
            </div>
            <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/img/slider-bg-2.jpg">

                <div class="container">
                    <iframe width="700" height="525"
                            src="https://youtube.com/embed/ViamldmEEOY"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end-->
    <!-- Intro section -->
    <section class="intro-section">
        <div class="container">
            <div class="section-title text-white">
                <h2 style="padding: 0px 0px 25px 0px;">Check us out on...</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <h3>Discord</h3>
                        <a href="https://discord.teamgosu.gg/" class="read-more">Join  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                        <p>Our discord is open to everyone. We host events sponsored by the team including 1v1 tournaments, 2v2 random team tournaments, peep modes and more! If you want to join the team, ask a mod in the Discord as well. Members can join our "Settle the Beef" in-clan ladder, participate in team leagues and be part of a thriving Starcraft 2 community.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <h3>Twitch</h3>
                        <a href="https://twitch.teamgosu.gg/" class="read-more">Watch  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                        <p>Catch the latest team leagues and events that are happening on our Twitch channel. All events will be streamed here.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <h3>Youtube</h3>
                        <a href="https://www.youtube.com/channel/UC9iBatFMGHu2344Awhc7tRw" class="read-more">Binge  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                        <p>VODs of Team events will be posted to the Youtube.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Intro section end -->
    <!-- Blog section -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="section-title text-white">
                        <h2>Recent Results</h2>
                    </div>
                    <!-- Blog item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="~/img/news/2022-vtl-finals-bracket.png" alt="">
                        </div>
                        <div class="blog-text text-box text-white">
                            <div class="top-meta">Oct. 5th 2022</div>
                            <h3>Gosu finishes 4th in VTL</h3>
                            <p>Our VTL team finshed fourth in Season 11 of VTL! Our team had a strong season winning 4 of 7 matches in the group stage with a map score of 25-20.</p>
                            <a href="https://liquipedia.net/starcraft2/User:Clinch09/Validity_Team_League_Season_11:_Playoffs" class="read-more">Details  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                        </div>
                    </div>
                    <!-- Blog item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="~/img/news/2022-DH-SC2-Master.png" alt="">
                        </div>
                        <div class="blog-text text-box text-white">
                            <div class="top-meta">Sept. 13th 2022</div>
                            <h3>Reaper qualifies for Dreamhack NA Regional</h3>
                            <p>The very talented Reaper, a recent addition to Team Gosu Pro, has qualified for the Dreamhack Atlanta NA Regional on the 13th. He will be in Group B up against Nina in the first round of the group stage on October 4th, 2022!</p>
                            <a href="https://liquipedia.net/starcraft2/ESL_Pro_Tour/2022/23/Masters/Atlanta/Regionals/NA" class="read-more">Details  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                        </div>
                    </div>
                    <!-- Blog item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="~/img/news/TeamGosuLogoTransparent.png" alt="">
                        </div>
                        <div class="blog-text text-box text-white">
                            <div class="top-meta">Sept. 4th 2022</div>
                            <h3>Team Gosu launches a pro team</h3>
                            <p>We're proud to announce that Team Gosu will now have a pro team competing at the highest levels of Starcraft 2. The roster is just getting going, stay tuned for more updates!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section end -->
    <!-- Intro section -->
    <section class="intro-video-section set-bg d-flex align-items-end " data-setbg="img/news/2022-10-04_ReaperVsNina.png">
        <a href="https://www.youtube.com/watch?v=CmFvPb2vpKs" class="video-play-btn video-popup"><img src="img/icons/solid-right-arrow.png" alt="#"></a>
        <div class="container">
            <div class="video-text">
                <h2>Reaper in Dreamhack Atlanta Regional Group Stage</h2>
                <p>Reaper takes on Nina in the first round of the NA Regional Group Stage for Dreamhack Atlanta. The match will be a ZvP starting off on Moondace.</p>
            </div>
        </div>
    </section>
    <!-- Intro section end -->
    <!-- Featured section -->
    <section class="featured-section">
        <div class="featured-bg set-bg" data-setbg="img/news/2022-Protoss-Imba.jpg"></div>
        <div class="featured-box">
            <div class="text-box">
                <div class="top-meta">Oct. 5th 2022</div>
                <h3>New Study by Independent Researchers Suggests Protoss Imba</h3>
                <p>A research study was performed by Google Analytics using their new Deep Mind technology that analyzed the actions per minute (abbreviated "APM") required to manage the armies of all three races in countless situations. The study then looked at the advantage gained in these different scenarios with varying amounts of APM each time. A clear link was demonstrated between scenarios that require low APM and that scenario involving a protoss army. While more research is needed, scientists say this is the first step to proving a causal link between playing protoss and lack of skill.</p>
                <a href="#" class="read-more">Read More  <img src="img/icons/double-arrow.png" alt="#" /></a>
            </div>
        </div>
    </section>
    <!-- Featured section end-->

