@{
    ViewData["Title"] = "Home Page";
}



    <!-- Header section end -->
    <!-- Hero section -->
    <section class="hero-section overflow-hidden">
        <div class="hero-slider owl-carousel">
            <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/img/TeamGosuCloudBackground.png">
                <div class="container">
                    <img src="~/img/TeamGosuLogoTransparent.png" height="500" style="max-width: 500px; margin: auto" alt="logo" />
                    <p style="color:#fff;">Professional Starcraft 2 Team and Community</p>
                    <a href="#intro-section" class="site-btn">Read More  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
            <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/img/slider-bg-2.jpg">

                <div class="container">
                    <iframe width="700" height="525"
                            src="https://youtube.com/embed/sDE6liH0Pgc"></iframe>
                </div>
            </div>
            <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/img/slider-bg-2.jpg">

                <div class="container">
                    <iframe width="700" height="525"
                            src="https://youtube.com/embed/ViamldmEEOY"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end-->
    <!-- Intro section -->
    <section class="intro-section" id="intro-section">
        <div class="container">
            <div class="section-title text-white">
                <h2 style="padding: 0px 0px 25px 0px;">Check us out on...</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div style="display: flex;">
                            <svg style="margin: 5px;" overflow="visible" width="40px" height="40px" version="1.1" viewBox="0 0 40 40" x="0px" y="0px">
                                <g>
                                    <polygon points="13 8 8 13 8 31 14 31 14 36 19 31 23 31 32 22 32 8" style="fill: #a970ff;">
                                    </polygon>
                                    <polygon points="26 25 30 21 30 10 14 10 14 25 18 25 18 29 22 25" style="fill: #fff">
                                    </polygon>
                                    <g>
                                        <path d="M20,14 L22,14 L22,20 L20,20 L20,14 Z M27,14 L27,20 L25,20 L25,14 L27,14 Z" style="fill: #a970ff;">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                            <h3 style="margin: 5px;">Twitch</h3>
                        </div>
                        <p>Catch the latest team leagues and events that are happening on our Twitch channel. All events will be streamed here.</p>
                        <a style="margin: 15px; margin-left: 5px" href="https://twitch.teamgosu.gg/" class="read-more">Watch  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div style="display: flex;">
                            <svg style="margin: 5px;" width="35" height="34" viewBox="0 0 35 34">
                                <g fill="#fff">
                                    <path d="M26.0015 6.9529C24.0021 6.03845 21.8787 5.37198 19.6623 5C19.3833 5.48048 19.0733 6.13144 18.8563 6.64292C16.4989 6.30193 14.1585 6.30193 11.8336 6.64292C11.6166 6.13144 11.2911 5.48048 11.0276 5C8.79575 5.37198 6.67235 6.03845 4.6869 6.9529C0.672601 12.8736 -0.41235 18.6548 0.130124 24.3585C2.79599 26.2959 5.36889 27.4739 7.89682 28.2489C8.51679 27.4119 9.07477 26.5129 9.55525 25.5675C8.64079 25.2265 7.77283 24.808 6.93587 24.312C7.15286 24.1571 7.36986 23.9866 7.57135 23.8161C12.6241 26.1255 18.0969 26.1255 23.0876 23.8161C23.3046 23.9866 23.5061 24.1571 23.7231 24.312C22.8861 24.808 22.0182 25.2265 21.1037 25.5675C21.5842 26.5129 22.1422 27.4119 22.7621 28.2489C25.2885 27.4739 27.8769 26.2959 30.5288 24.3585C31.1952 17.7559 29.4733 12.0212 26.0015 6.9529ZM10.2527 20.8402C8.73376 20.8402 7.49382 19.4608 7.49382 17.7714C7.49382 16.082 8.70276 14.7025 10.2527 14.7025C11.7871 14.7025 13.0425 16.082 13.0115 17.7714C13.0115 19.4608 11.7871 20.8402 10.2527 20.8402ZM20.4373 20.8402C18.9183 20.8402 17.6768 19.4608 17.6768 17.7714C17.6768 16.082 18.8873 14.7025 20.4373 14.7025C21.9717 14.7025 23.2271 16.082 23.1961 17.7714C23.1961 19.4608 21.9872 20.8402 20.4373 20.8402Z">
                                    </path>
                                </g>
                            </svg>
                            <h3 style="margin: 5px;">Discord</h3>
                        </div>
                        <p>Our discord is open to everyone. We host events sponsored by the team including 1v1 tournaments, 2v2 random team tournaments, peep modes and more! If you want to join the team, ask a mod in the Discord as well. Members can join our "Settle the Beef" in-clan ladder, participate in team leagues and be part of a thriving Starcraft 2 community.</p>
                        <a style="margin: 15px; margin-left: 5px" href="https://discord.teamgosu.gg/" class="read-more">Join  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="intro-text-box text-box text-white">
                        <div style="display: flex;">
                            <svg viewBox="0 0 30 20" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; height: 30px; margin: 5px;">
                                <g viewBox="0 0 30 20" preserveAspectRatio="xMidYMid meet">
                                    <g>
                                        <path d="M27.9704 3.12324C27.6411 1.89323 26.6745 0.926623 25.4445 0.597366C23.2173 2.24288e-07 14.2827 0 14.2827 0C14.2827 0 5.34807 2.24288e-07 3.12088 0.597366C1.89323 0.926623 0.924271 1.89323 0.595014 3.12324C-2.8036e-07 5.35042 0 10 0 10C0 10 -1.57002e-06 14.6496 0.597364 16.8768C0.926621 18.1068 1.89323 19.0734 3.12324 19.4026C5.35042 20 14.285 20 14.285 20C14.285 20 23.2197 20 25.4468 19.4026C26.6769 19.0734 27.6435 18.1068 27.9727 16.8768C28.5701 14.6496 28.5701 10 28.5701 10C28.5701 10 28.5677 5.35042 27.9704 3.12324Z" fill="#FF0000">
                                        </path>
                                        <path d="M11.4275 14.2854L18.8475 10.0004L11.4275 5.71533V14.2854Z" fill="white">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                            <h3 style="margin: 5px;">Youtube</h3>
                        </div>
                        <p>VODs of Team events will be posted to the Youtube.</p>
                        <a style="margin: 15px; margin-left: 5px" href="https://www.youtube.com/channel/UC9iBatFMGHu2344Awhc7tRw" class="read-more">Binge  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Intro section end -->
    <!-- Blog section -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="section-title text-white">
                        <h2>Recent Results</h2>
                    </div>
                    <!-- Blog item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="~/img/news/2022-vtl-finals-bracket.png" alt="">
                        </div>
                        <div class="blog-text text-box text-white">
                            <div class="top-meta">Oct. 5th 2022</div>
                            <h3>Gosu finishes 4th in VTL</h3>
                            <p>Our VTL team finshed fourth in Season 11 of VTL! Our team had a strong season winning 4 of 7 matches in the group stage with a map score of 25-20.</p>
                            <a href="https://liquipedia.net/starcraft2/User:Clinch09/Validity_Team_League_Season_11:_Playoffs" class="read-more">Details  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                        </div>
                    </div>
                    <!-- Blog item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="~/img/news/2022-DH-SC2-Master.png" alt="">
                        </div>
                        <div class="blog-text text-box text-white">
                            <div class="top-meta">Sept. 13th 2022</div>
                            <h3>Reaper qualifies for Dreamhack NA Regional</h3>
                            <p>The very talented Reaper, a recent addition to Team Gosu Pro, has qualified for the Dreamhack Atlanta NA Regional on the 13th. He will be in Group B up against Nina in the first round of the group stage on October 4th, 2022!</p>
                            <a href="https://liquipedia.net/starcraft2/ESL_Pro_Tour/2022/23/Masters/Atlanta/Regionals/NA" class="read-more">Details  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                        </div>
                    </div>
                    <!-- Blog item -->
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="~/img/news/TeamGosuLogoTransparent.png" alt="">
                        </div>
                        <div class="blog-text text-box text-white">
                            <div class="top-meta">Sept. 4th 2022</div>
                            <h3>Team Gosu launches a pro team</h3>
                            <p>We're proud to announce that Team Gosu will now have a pro team competing at the highest levels of Starcraft 2. The roster is just getting going, stay tuned for more updates!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section end -->
    <!-- Intro section -->
    <section class="intro-video-section set-bg d-flex align-items-end " data-setbg="img/news/2022-10-04_ReaperVsNina.png">
        <a href="https://www.youtube.com/watch?v=CmFvPb2vpKs" class="video-play-btn video-popup"><img src="img/icons/solid-right-arrow.png" alt="#"></a>
        <div class="container">
            <div class="video-text">
                <h2>Reaper in Dreamhack Atlanta Regional Group Stage</h2>
                <p>Reaper takes on Nina in the first round of the NA Regional Group Stage for Dreamhack Atlanta. The match will be a ZvP starting off on Moondace.</p>
            </div>
        </div>
    </section>
    <!-- Intro section end -->
    <!-- Featured section -->
    <section class="featured-section">
        <div class="featured-bg set-bg" data-setbg="img/news/2022-Protoss-Imba.jpg"></div>
        <div class="featured-box">
            <div class="text-box">
                <div class="top-meta">Oct. 5th 2022</div>
                <h3>New Study by Independent Researchers Suggests Protoss Imba</h3>
                <p>A research study was performed by Google Analytics using their new Deep Mind technology that analyzed the actions per minute (abbreviated "APM") required to manage the armies of all three races in countless situations. The study then looked at the advantage gained in these different scenarios with varying amounts of APM each time. A clear link was demonstrated between scenarios that require low APM and that scenario involving a protoss army. While more research is needed, scientists say this is the first step to proving a causal link between playing protoss and lack of skill.</p>
                <a href="#" class="read-more">Read More  <img src="img/icons/double-arrow.png" alt="#" /></a>
            </div>
        </div>
    </section>
    <!-- Featured section end-->

