@{
    ViewData["Title"] = "Team Gosu Fundraiser";
}

<!-- News section -->
<section class="first-section" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div>
                <div style="padding-left: 10%; margin: auto;">
                    <a href="#rules" class="beef-rules">Rules  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                </div>
                <div style="flex-basis: auto; flex-grow: 0; flex-shrink: 0; position: relative; width: 65%; margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 25px">
                    <img class="position: absolute; left: 0; top: 0; width:100%; height: 100%;" src="~/news/2022-11-02/GiveawayLarge.png" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="spad" id="rules" style="background-color: black;">
    <div class="container">
        <div class="section-title">
            <h2>Fundraiser Rules</h2>
            <div class="beef-rules-container">
                <ol class="beef-rules-list">
                    <li>
                        Must be at least 16 years old to be eligible and participate in the
                        fundraiser for the Headset.
                    </li>
                    <li>
                        Must be a resident of the United States or Canada to get free
                        shipping. If you choose to participate from out of these countries,
                        shipping must be paid before shipment is made. Shipping price
                        will be at cost minus $10.00.
                    </li>
                    <li>
                        Determining how many entries are given. An Entry is how many
                        times your name gets entered into the drawing. Based on what
                        way you enter determines how many entries you receive<br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;a. One entry is given for a regular twitch subscription or Prime
                        subscription. https://www.twitch.tv/tgosu.<br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;b. Two entries are given for every $5 of support to our patreon
                        page. https://www.patreon.com/Teamgosusc2. Ex. If you
                        sign up for the $10 tier of membership you get 4 total
                        entries.<br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;c. Two entries are given for every $5 of direct donation to
                        Team Gosu. Paypal: teamgosusc2@gmail.com<br />
                    </li>
                    <li>You must enter by <b>Nov. 25, 2022</b> to be eligible.</li>
                    <li>Drawing will take place on <b>Nov. 30, 2022</b></li>
                </ol>
                <div style="flex-basis: auto; flex-grow: 0; flex-shrink: 0; position: relative; width: 25vw; margin-left: auto; margin-right: auto; max-width: 300px;">
                    <img class="position: absolute; left: 0; top: 0; width:100%; height: 100%;" src="~/img/icons/Rules.png" />
                </div>
            </div>
        </div>
    </div>
</section>